*{
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    background-image: url(assets/images/bg01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 16px;
    height: 100vh;
    font-family: Roboto, sans-serif;
    font-style: normal;
    background-attachment: scroll;
}
section{
    flex-direction: column;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    height: 100vh;
    /* border: 20px solid pink ; */
}
.content{
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    height: 60px;
    margin-top: 100px;
    /* border: 5px solid aqua; */
}
h1{
    top: 25px;
    left: 25px;
    position: relative;
    padding-left: 15%;
    font-family: Roboto, sans-serif;
    font-size: 40px;
    font-style: normal;
    color: #ffffff;
}
.para{
    width: 500px;
    /* border: 5px solid green; */
}
span{
    top: 35px;
    left: 25px;
    position: relative;
    padding-left: 10%;
    width: 200px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-style: normal;
    color: darkgrey;
}
.email{
    /* margin: 20px; */
    margin-top: 70px;
    left: 15px;
    width: 500px;
    /* border: 5px solid yellow; */
    position: relative;
    padding-left: 3%;
}
.emailaddress{
    left: 35px;
    position: relative;
    margin-left: 15px;
    width: 200px;
    height: 25px;
    color:#1cb495;
    border: grey 2px solid;
    background-color: rgb(29, 29, 29);
}
.Sign{
    left: 25px;
    position: relative;
    width: 70px;
    height: 30px;
    margin-left: 10px;
    background: #1cb495;
    /* border-radius: 15%; */
    font-size: 15px;
    color: #ffffff;
}
#notification{
    display: none;
    color: #1cb495;
}
.Sign:focus + #notification{
    display: block;
}
.footer{
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: repeat(2,1fr);
    position: relative;
    margin-top: 0;
    top: -20px;
    left: 20px;
    width: 300px;
    height: 100px;
    /* border: #1cb495 10px solid; */
    /* background-color: #000000; */
}
.span1{
    top: 30%;
    /* background-color: green; */
    height: 100%;
    width: 100%;
    font-family: Roboto, sans-serif;
    font-size: 20px;
}
.span2{
    top: 10%;
    font-family: Roboto, sans-serif;
    font-size: 10px;
    /* background-color: yellow; */
    height: 100%;
    width: 100%;
}
.overlay{
    width: 100%;
    height: 147%;
    background: #000000;
    position: absolute;
    opacity: 0.7;
}
@media(max-width:500px){
    .content{
        display: none;
    }
    .para{
        display: none;
    }
    .email{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 350px;
        height: 200px;
        /* border: 5px solid yellow; */
        position: relative;
    }
    .emailaddress{
        position: relative;
        width: 250px;
        height: 50px;
        color:#1cb495;
        border: grey 2px solid;
        background-color: rgb(29, 29, 29);
        border-radius: 7px;
        opacity: 65%;
    }
    .Sign{
        margin-top: 130px;
        position: relative;
        width: 250px;
        height: 50px;
        margin-left: -240px;
        background: #1cb495;
        border-radius: 8%;
        font-size: 20px;
        color: #ffffff;
    }
    .footer{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: -10px;
        width: 390px;
        height: 100px;
        /* border: 2px solid red; */
    }
    .span1{
        /* background-color: green; */
        margin-left: -20px;
        height: 30px;
        width: 200px;
        font-family: Roboto, sans-serif;
        font-size: 20px;
    }
    .span2{
        margin-top: 20px;
        margin-left: -20px;
        font-family: Roboto, sans-serif;
        font-size: 10px;
        /* background-color: yellow; */
        height: 30px;
        width: 240px;
    }
}